main {
  background-color: #007b;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.questionsBox {
  background-color: transparent !important;
  font-size: 24px;
  padding: 20px;
}
.questionsBox:focus {
  outline: none;
}
.generateBtn {
  /* width: 40vw; */
  padding: 10px 30px;
  margin: auto;
}
.resultContainer::-webkit-scrollbar {
  width: 1px;
}
.resultContainer {
  width: 90vw;
  height: 30vh;
  padding: 20px;
  background-color: #ffffff50;
  font-weight: 700;
  border-radius: 20px;
  overflow-y: scroll;
}
